@import "module.styl";
@import "arr.styl";
.layer
  width 600px
  height 200px
  background-color rebeccapurple
  div
    width 400px
    height 400px
    background url("../../assets/bg1.jpg") 100% no-repeat
body
  background-color #ff6666