<div class="layer">
    <img src="${require('../../assets/bg1.jpg')}">
    <div>this is <%= name %>layer</div>
    <%  for(i=0;i<=arr.length;i++){ %>
    <%=arr[i] %>
    <%  } %>
    <i>123</i>
</div>