<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div id="app"> </div>
 <img src="${require('./src/assets/bg1.jpg')}">
 <div>123</div>
<!--由于html-loader与html-webpack-loader有冲突，导致这里插入的图片无法正确更换地址，建议使用打包之后的绝对地址或者不再这文件内使用-->
</body>
</html>